@import "src/style/color";

.header__buttons {
  & > div {
    display: flex;
    align-items: center;

    .header__signIn {
      border: 1px solid $blue-dark;
      color: $blue-dark;
      font-weight: 700;
      margin-left: 0.5rem;

      &:hover {
        background-color: transparent;
      }

      .button__avatar {
        width: 25px;
        height: 25px;
        margin-right: 0.5rem;
        background-color: $blue-dark;
      }
    }
    .header__icon {
      margin-right: 0.3rem;

      &:last-of-type {
        margin-right: 0.8rem;
      }
    }

    .avatar {
      width: 35px;
      height: 35px;
    }
  }
}
