.header__buttons {
  display: flex;
  align-items: center;

  .header__icon {
    margin-right: 0.3rem;

    &:last-of-type {
      margin-right: 0.8rem;
    }
  }

  .avatar {
    width: 35px;
    height: 35px;
  }
}
