@import "src/style/color";

.currentVideoChannelInfo {
  .infoWrapper {
    position: relative;
    display: flex;
    flex: 1;

    .avatar {
      width: 50px;
      height: 50px;
      margin-right: 0.8rem;
    }

    .info__body {
      flex: 1;

      .channelName {
        font-weight: bold;
      }

      .subscribers {
        font-size: 0.8rem;
        color: $gray;
        span {
          text-transform: uppercase;
        }
      }

      .description {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .show-more {
        padding-left: 0;
        color: $gray;
        background-color: transparent;
      }
    }

    .subscribe {
      position: absolute;
      right: 0;
      top: 0;
      min-width: 105px;
      color: #fff;
      background-color: $main-button;
    }
  }
}
