@import "src/style/color";

.searchPage {
  flex: 0.9;
  background-color: $background-gray;
  padding: 1.2rem;
  min-height: 90vh;

  .searchPage__filter {
    display: flex;
    align-items: center;
    color: $gray;
    font-size: xx-small;

    h2 {
      margin-left: 0.8rem;
    }
  }

  hr {
    height: 1px;
    border: none;
    background-color: $black-ten-percent;
    color: $black-ten-percent;
    margin: 0.8rem 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem 1rem 1rem 0;
  }
}
