.currentVideo {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  min-height: 920px;

  .currentVideo__iframe {
    width: 850px;
    height: 480px;
    border: none;
    margin-bottom: 1rem;
  }
}
