.currentVideo {
  display: flex;
  flex-direction: column;

  .currentVideo__iframe {
    width: 100%;
    height: 480px;
    border: none;
    margin-bottom: 1rem;
  }

  hr {
    margin-bottom: 1rem;
  }
}
