@import "src/style/color";

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  z-index: 100;
  background-color: #fff;

  .header__left {
    display: flex;
    align-items: center;

    .header__logo {
      height: 35px;
      object-fit: contain;
      margin-left: 1rem;
    }
  }

  .header__input {
    width: 40%;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;

    input {
      flex: 1;
      border: none;
      outline-width: 0;
    }

    .header__inputButton {
      width: 50px;
      background-color: $background-main;
      border-left: 1px solid lightgray;
      color: grey;
    }
  }

  .header__icons {
    display: flex;
    align-items: center;

    .header__icon {
      margin-right: 0.5rem;
    }
  }
}
