@import "src/style/color";

.search {
  width: 50%;
  display: flex;
  align-items: center;
  margin-left: 50px;

  .search__container {
    display: flex;
    flex: 1;
    align-items: center;

    input {
      flex: 1;
      border: 1px solid $border;
      outline-width: 0;
      padding: 5px 0.4rem;
      font: inherit;
      border-radius: 1px 0 0 1px;
    }

    .keyboard {
      color: gray;
      cursor: pointer;
      margin-right: 1rem;
      margin-left: -2.5rem;

      &:hover {
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }

  .search__inputButton {
    display: grid;
    place-items: center;
    width: 65px;
    height: 30px;
    margin-left: -1px;
    background-color: $background-gray;
    border: 1px solid $border;
    border-radius: 0 1px 1px 0;
    color: $button-gray;
    outline-width: 0;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      color: $button-gray-hover;
      background-color: $background-gray-hover;
      border-color: $border-hover;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    }
  }
}
