@import "src/style/color";
@import "src/style/breakpoints";

.search {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 50px;
  margin-right: 3rem;
  max-width: 728px;

  @include for-tablet-large-down {
    max-width: 280px;
  }

  @include for-tablet-down {
    margin-left: 0;
    margin-right: 0.5rem;
  }
  @include for-tablet-mini-down {
    display: none;
  }

  .search__form {
    display: flex;
    flex: 1;
    align-items: center;

    @include for-tablet-down {
      max-width: 200px;
    }

    .search__input {
      flex: 1;
      padding: 6px 2.6rem 6px 0.5rem;
      border-radius: 2px 0 0 2px;
      border: 1px solid #ccc;
      outline-width: 0;
      box-shadow: inset 0 1px 2px #eee, inset 1px 0 0 #eee, inset -1px 0 0 #eee;
      font: inherit;
      z-index: 1;

      @include for-tablet-down {
        max-width: 30vw;
      }

      &:focus {
        border: 1px solid $blue-dark;
      }
    }

    .keyboard {
      color: gray;
      cursor: pointer;
      margin-right: 1rem;
      margin-left: -2.5rem;

      &:hover {
        color: rgba(0, 0, 0, 0.8);
      }
    }
    .search__inputButton {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      width: 65px;
      margin-left: -1px;
      background-color: $background-gray;
      border: 1px solid $border;
      border-radius: 0 2px 2px 0;
      color: $button-gray;
      outline-width: 0;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        color: $button-gray-hover;
        background-color: $background-gray-hover;
        border-color: $border-hover;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      }

      svg {
        width: 100%;
      }
    }
  }
}
