@import "src/style/color";
@import "src/style/breakpoints";

.recommendedVideos {
  flex: 0.9;
  padding: 1.2rem;
  background-color: $background-gray;

  .recommendedVideos__videos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.2rem;
    grid-row-gap: 1.5rem;

    @include for-desktop-down {
      grid-template-columns: repeat(3, 1fr);
    }
    //@include for-desktop-down {
    //  grid-template-columns: repeat(3, 1fr);
    //}
  }
}
