@import "src/style/color";

.relatedVideo {
  display: flex;
  margin-bottom: 0.5rem;

  .relatedVideo__image {
    width: 168px;
    height: 94px;
    margin-right: 0.5rem;
    flex-shrink: 0;
  }

  .relatedVideo__info {
    width: 100%;

    .relatedVideo__title {
      margin-bottom: 0.5rem;
      font-size: 0.9rem;

      span {
        width: 100%;
      }
    }

    .relatedVideo__channel {
      color: $gray;
      font-size: 0.8rem;
    }

    .relatedVideo__metadata {
      color: $gray;
      font-size: 0.8rem;

      .relatedVideo__views {
        margin-right: 0.4rem;
        display: block;

        span {
          text-transform: uppercase;
        }
      }
    }
  }
}
