@import "src/style/color";

.videoRow {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;

  img {
    object-fit: contain;
    max-width: 240px;
  }

  .videoRow__text {
    margin-left: 1rem;

    h3 {
      margin-bottom: 0.5rem;
    }

    .videoRow__headline {
      font-size: 0.8rem;
      color: $gray;
    }

    .videoRow__channel {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      color: $gray;
      margin-top: 1rem;

      .videoRow__avatar {
        width: 30px;
        height: 30px;
        margin-right: 0.5rem;
      }

      .videoRow__channelName {
        margin-right: 1rem;
      }

      .videoRow__subs {
        background-color: $lightgray;
        padding: 2px 3px;

        .videoRow__subsNumber {
          font-weight: 700;
          color: $blue;
        }
      }
    }
    .videoRow__description {
      width: 100%;
      margin-top: 0.8rem;
      font-size: 0.8rem;
      color: $gray;
    }
  }
}
