@import "src/style/color";

.login {
  display: flex;
  flex: 0.9;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .login__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  }

  button {
    background-color: $main;
    width: 200px;
    transition: all 0.3s ease;
    font-weight: 800;

    &:hover {
      background-color: $background-main;
      color: $main;
    }
  }
}
